* {
    box-sizing: border-box;
    text-decoration: none;
}

.jumbotron {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    color: white;
    background-color: #1f2833;
    padding: 5px;
}

.row {
    padding: 30px;
    margin: 0px 20px 0px 20px;
}

/* Style the search field */
form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
}

/* Style the submit button */
form.example button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    /* Prevent double borders */
    cursor: pointer;
}

form.example button:hover {
    background: #0b7dda;
}

/* Clear floats */
form.example::after {
    content: "";
    clear: both;
    display: table;
}

.col-2 {
    color: white;
    height: 150px;
    background-color: #42b3f5;
    margin-right: 20px;
    margin-top: 0px;
    border-radius: 5px;
    padding: 10px;
}

#forecast {
    margin-top: 0px;
}