
#forecast-section {
    background-color: rgb(255, 254, 254);
}

#button-search {
    background-color: rgb(57, 201, 211);
}

#current-weather {
    background-color: rgb(255, 254, 254);
    height: auto;
    width: auto;
    padding: 10px;
}

ul {
    list-style-type: none;
    margin-left: -40px;
}

li {
    background-color: white;
    border: .1px solid gray;
    width: 90%;
    height: auto;
    padding: 10px 0 0 10px;
    cursor: pointer;
}

.dayZ {
    background-color: lightskyblue;
}