
header {
    font-family: 'Roboto', sans-serif;
}
.row {
    padding: 25px;
    margin: 0px 15px 0px 15px;
}

.col-2 {
    color: white;
    height: 120px;
    background-color: #42b3f5;
    margin-right: 15px;
    margin-top: 0px;
    border-radius: 5px;
    padding: 10px;
}

